{% include "header.html" %}
     <table>
        <thead>
           <tr class="info">
              <th class="col-flag">&#x1F30D;</th>
              <th class="col-name">Server Name</th>
              <th class="col-type">Type</th>
              <th class="col-map">Map</th>
              <th class="col-players">Players</th>
              <th class="col-link"></th>
           </tr>
        </thead>
        <tbody>
{% include "rows.html" %}
        </tbody>
     </table>
   {% if !has_server %}
   <div><p>Server offline or not existing &#x1F61E;</p></div>
   {% endif %}
   <div><p class="size1">data from <a rel="noopener" href="{{ site.asset_base }}">{{ site.asset_base }}</a></p></div>
   </div>
{% include "footer.html" %}
