{% include "header.html" %}
<div class="row u-align-left">
   {% if !site.rjz %}
   <h4>{{ site.title }}</h4>
   <aside class="u-pull-right"><dark-mode-toggle remember="save"></dark-mode-toggle></aside>
   {% endif %}
   <p><b>{{ totalplayers }}</b> players {% if totalbots > 0 %}(+{{ totalbots }} bots) {% endif %}are currently playing {% if !site.rjz %}<a rel="noopener" title="Xonotic - The Free and Fast Arena Shooter" href="https://xonotic.org/">{% endif %}Xonotic{% if !site.rjz %}</a>{% endif %} on <b>{{ activeservers }}</b> out of {{ totalservers }} publicly listed servers.<br><a href="{{ site.asset_base }}/heatmap.png" _target="blank">Server Activity Heatmap</a> <span title="Coordinated Universal Time">(Hours in UTC, F5 to refresh).</span></p>
   <p>Last updated: <span id="timer">{{ lastupdate }}</span> seconds ago.<span id="refresh" style="display:none;"> <a href="{{ site.asset_base }}/{% if site.rjz %}?rjz=1" id="rjza"><span id="rjzref" class="w3-tag mobile-margin-20-full w3-hover-white w3-red"><i class="fa-solid fa-arrows-rotate"></i>REFRESH</span>{% else %}">Click to refresh.{% endif %}</a></span></p>
</div>
<div class="row"><input id="filter" class="u-full-width" type="search" placeholder="Filter by server, player, address, map or game type&hellip;"></div>
<table id="main" class="u-full-width">
   <thead>
      <tr class="info">
         <th class="col-flag">&#x1F30D;</th>
         <th class="col-name">Server Name</th>
         <th class="col-type">Type</th>
         <th class="col-map">Map</th>
         <th class="col-players">Players</th>
         <th class="col-link"></th>
         <th class="col-details"></th>
      </tr>
   </thead>
   <tbody>
{% include "rows.html" %}
   </tbody>
</table>
<div class="row">
   <p><button class="button u-full-width tempty" data-id="tempty" aria-pressed="false">Toggle empty servers</button></p>
</div>
   <div class="row u-align-left">
      <div class="u-pull-right u-align-right">
         <p>made with &#x2764; by <a href="http://stats.xonotic.org/player/99876" rel="noopener">incognico</a></p>
         <p><a href="{{ site.asset_base }}/endpoint/json">JSON</a> &#x1F680; <a rel="noopener" href="https://github.com/incognico/xonlist">GitHub</a></p>
      </div>
      <p>Banned servers are not shown.</p>
   </div>
</div>
<div class="row"><img src="{{ site.asset_base }}/images/erebus.png" id="erebus" alt="erebus"></div>
{% include "footer.html" %}
