[Unit]
Description=Xonotic Server List
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=www-data
Group=www-data
RuntimeDirectory=xonlist
RuntimeDirectoryMode=0750
WorkingDirectory=/home/www/xonotic.lifeisabug.com
ExecStart=/home/www/xonotic.lifeisabug.com/xonlist \
  --socket /run/xonlist/xonlist.socket \
  --data-dir /home/www/xonotic.lifeisabug.com/data \
  --geodb /usr/local/share/GeoIP2_k/GeoLite2-City.mmdb \
  --domain xonotic.lifeisabug.com
Restart=on-failure
RestartSec=3
NoNewPrivileges=yes

[Install]
WantedBy=multi-user.target
